<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Name">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="button">Go</button>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">Clear</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group pull-right">
                <button type="button" class="btn">List</button>
                <button type="button" class="btn">Detail</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="users">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Email</strong></td>
                            <td><strong>Phone</strong></td>
                            <td><strong>Website</strong></td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <h1>No Data!</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <ul class="cards">
                        <li>
                            <p><strong></strong></p>
                            <em><a target="_blank" href="#"></a></em>
                            <p>Street: </p>
                            <p>suite:</p>
                            <p>city: </p>
                            <p>zipcode:</p>
                        </li>
                    </ul>
                    <div>
                        <h1>No Data!</h1>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>